# GlobalProperties:
db.allophonesDir /mary/marytts-voice-building/allophones/
db.basenameFile /mary/marytts-voice-building/basenames.lst
db.domain general
db.estDir /usr/share/festival/
db.gender female
db.halfphoneFeatureDir /mary/marytts-voice-building/halfphonefeatures/
db.halfphoneLabDir /mary/marytts-voice-building/halfphonelab/
db.hplabExtension .hplab
db.labDir /mary/marytts-voice-building/lab/
db.labExtension .lab
db.locale en_us
db.maryServerHost localhost
db.maryServerPort 59125
db.marybase /mary/marytts
db.marybaseversion 6.0-SNAPSHOT
db.maryxmlDir /mary/marytts-voice-building/rawmaryxml/
db.maryxmlExtension .xml
db.phoneFeatureDir /mary/marytts-voice-building/phonefeatures/
db.phoneLabDir /mary/marytts-voice-building/phonelab/
db.pmDir /mary/marytts-voice-building/pm/
db.pmExtension .pm
db.promptAllophonesDir /mary/marytts-voice-building/prompt_allophones/
db.ptcDir /mary/marytts-voice-building/ptc/
db.ptcExtension .ptc
db.rootDir /mary/marytts-voice-building/
db.samplingrate 16000
db.textDir /mary/marytts-voice-building/text/
db.textExtension .txt
db.vocalizationsDir /mary/marytts-voice-building/vocalizations/
db.voicename Poppy
db.wavDir /mary/marytts-voice-building/wav/

# Properties for module PraatPitchmarker:
PraatPitchmarker.command praat
PraatPitchmarker.maxPitch 500
PraatPitchmarker.minPitch 100
PraatPitchmarker.pmDir /mary/marytts-voice-building/pm/
PraatPitchmarker.waveDir /mary/marytts-voice-building/wav/

# Properties for module MCEPMaker:
MCEPMaker.mcepDir /mary/marytts-voice-building/mcep/

# Properties for module Festvox2MaryTranscripts:
Festvox2MaryTranscripts.transcriptFile /mary/marytts-voice-building/txt.done.data

# Properties for module AllophonesExtractor:
AllophonesExtractor.styleDefinitionFile 

# Properties for module EHMMLabeler:
EHMMLabeler.doAlignment true
EHMMLabeler.doTraining true
EHMMLabeler.eDir /mary/marytts-voice-building/ehmm/
EHMMLabeler.ehmmDir /mary/marytts/lib/external/ehmm/
EHMMLabeler.nonDetEndFlag 0
EHMMLabeler.outputLabDir /mary/marytts-voice-building/lab/
EHMMLabeler.prepareFiles true
EHMMLabeler.promtallophonesDir /mary/marytts-voice-building/prompt_allophones/
EHMMLabeler.reTrainFlag false
EHMMLabeler.startEHMMModelDir /

# Properties for module HTKLabeler:
HTKLabeler.awkbin /usr/bin/awk
HTKLabeler.htDir /mary/marytts-voice-building//htk/
HTKLabeler.htkDir /usr/bin/
HTKLabeler.maxNoOfIterations 150
HTKLabeler.maxshortPauseIteration 10
HTKLabeler.outputLabDir /mary/marytts-voice-building//htk/lab/
HTKLabeler.promtallophonesDir /mary/marytts-voice-building//prompt_allophones/

# Properties for module LabelPauseDeleter:
LabelPauseDeleter.eDir /mary/marytts-voice-building/ehmm/
LabelPauseDeleter.outputLabDir /mary/marytts-voice-building/lab/
LabelPauseDeleter.pauseDurationThreshold 40

# Properties for module HalfPhoneUnitLabelComputer:
HalfPhoneUnitLabelComputer.energyBasedTransientSplitting false

# Properties for module FeatureSelection:
FeatureSelection.featureFile /mary/marytts-voice-building/mary/features.txt
FeatureSelection.maryServerHost localhost
FeatureSelection.maryServerPort 59125

# Properties for module PhoneUnitFeatureComputer:
PhoneUnitFeatureComputer.allophonesDir /mary/marytts-voice-building/allophones/
PhoneUnitFeatureComputer.featureDir /mary/marytts-voice-building/phonefeatures/
PhoneUnitFeatureComputer.featureFile /mary/marytts-voice-building/mary/features.txt
PhoneUnitFeatureComputer.maryServerHost localhost
PhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module HalfPhoneUnitFeatureComputer:
HalfPhoneUnitFeatureComputer.allophonesDir /mary/marytts-voice-building/allophones/
HalfPhoneUnitFeatureComputer.featureDir /mary/marytts-voice-building/halfphonefeatures/
HalfPhoneUnitFeatureComputer.featureFile /mary/marytts-voice-building/mary/features.txt
HalfPhoneUnitFeatureComputer.maryServerHost localhost
HalfPhoneUnitFeatureComputer.maryServerPort 59125

# Properties for module WaveTimelineMaker:
WaveTimelineMaker.waveTimeline /mary/marytts-voice-building/mary/timeline_waveforms.mry

# Properties for module BasenameTimelineMaker:
BasenameTimelineMaker.timelineFile /mary/marytts-voice-building/mary/timeline_basenames.mry

# Properties for module MCepTimelineMaker:
MCepTimelineMaker.mcepDir /mary/marytts-voice-building/mcep/
MCepTimelineMaker.mcepTimeline /mary/marytts-voice-building/mary/timeline_mcep.mry

# Properties for module PhoneUnitfileWriter:
PhoneUnitfileWriter.unitFile /mary/marytts-voice-building/mary/phoneUnits.mry

# Properties for module PhoneFeatureFileWriter:
PhoneFeatureFileWriter.featureDir /mary/marytts-voice-building/phonefeatures/
PhoneFeatureFileWriter.featureFile /mary/marytts-voice-building/mary/phoneFeatures.mry
PhoneFeatureFileWriter.unitFile /mary/marytts-voice-building/mary/phoneUnits.mry
PhoneFeatureFileWriter.weightsFile /mary/marytts-voice-building/mary/phoneUnitFeatureDefinition.txt

# Properties for module DurationCARTTrainer:
DurationCARTTrainer.durTree /mary/marytts-voice-building/mary/dur.tree
DurationCARTTrainer.featureFile /mary/marytts-voice-building/mary/phoneFeatures.mry
DurationCARTTrainer.isHnmTimeline false
DurationCARTTrainer.stepwiseTraining false
DurationCARTTrainer.unitFile /mary/marytts-voice-building/mary/phoneUnits.mry
DurationCARTTrainer.waveTimeline /mary/marytts-voice-building/mary/timeline_waveforms.mry

# Properties for module F0CARTTrainer:
F0CARTTrainer.f0LeftTreeFile /mary/marytts-voice-building/mary/f0.left.tree
F0CARTTrainer.f0MidTreeFile /mary/marytts-voice-building/mary/f0.mid.tree
F0CARTTrainer.f0RightTreeFile /mary/marytts-voice-building/mary/f0.right.tree
F0CARTTrainer.featureFile /mary/marytts-voice-building/mary/phoneFeatures.mry
F0CARTTrainer.isHnmTimeline false
F0CARTTrainer.stepwiseTraining false
F0CARTTrainer.unitFile /mary/marytts-voice-building/mary/phoneUnits.mry
F0CARTTrainer.waveTimeline /mary/marytts-voice-building/mary/timeline_waveforms.mry

# Properties for module HalfPhoneUnitfileWriter:
HalfPhoneUnitfileWriter.unitFile /mary/marytts-voice-building/mary/halfphoneUnits.mry

# Properties for module HalfPhoneFeatureFileWriter:
HalfPhoneFeatureFileWriter.featureDir /mary/marytts-voice-building/halfphonefeatures/
HalfPhoneFeatureFileWriter.featureFile /mary/marytts-voice-building/mary/halfphoneFeatures.mry
HalfPhoneFeatureFileWriter.unitFile /mary/marytts-voice-building/mary/halfphoneUnits.mry
HalfPhoneFeatureFileWriter.weightsFile /mary/marytts-voice-building/mary/halfphoneUnitFeatureDefinition.txt

# Properties for module F0PolynomialFeatureFileWriter:
F0PolynomialFeatureFileWriter.f0FeatureFile /mary/marytts-voice-building/mary/syllableF0Polynomials.mry
F0PolynomialFeatureFileWriter.featureFile /mary/marytts-voice-building/mary/halfphoneFeatures.mry
F0PolynomialFeatureFileWriter.interpolate true
F0PolynomialFeatureFileWriter.isHnmTimeline false
F0PolynomialFeatureFileWriter.maxPitch 500
F0PolynomialFeatureFileWriter.minPitch 100
F0PolynomialFeatureFileWriter.polynomOrder 3
F0PolynomialFeatureFileWriter.showGraph false
F0PolynomialFeatureFileWriter.unitFile /mary/marytts-voice-building/mary/halfphoneUnits.mry
F0PolynomialFeatureFileWriter.waveTimeLine /mary/marytts-voice-building/mary/timeline_waveforms.mry

# Properties for module AcousticFeatureFileWriter:
AcousticFeatureFileWriter.acFeatDef /mary/marytts-voice-building/mary/halfphoneUnitFeatureDefinition_ac.txt
AcousticFeatureFileWriter.acFeatureFile /mary/marytts-voice-building/mary/halfphoneFeatures_ac.mry
AcousticFeatureFileWriter.contourFile /mary/marytts-voice-building/mary/syllableF0Polynomials.mry
AcousticFeatureFileWriter.featureFile /mary/marytts-voice-building/mary/halfphoneFeatures.mry
AcousticFeatureFileWriter.unitFile /mary/marytts-voice-building/mary/halfphoneUnits.mry

# Properties for module JoinCostFileMaker:
JoinCostFileMaker.acfeatureFile /mary/marytts-voice-building/mary/halfphoneFeatures_ac.mry
JoinCostFileMaker.joinCostFile /mary/marytts-voice-building/mary/joinCostFeatures.mry
JoinCostFileMaker.mcepDir /mary/marytts-voice-building/mcep/
JoinCostFileMaker.mcepTimeline /mary/marytts-voice-building/mary/timeline_mcep.mry
JoinCostFileMaker.unitFile /mary/marytts-voice-building/mary/halfphoneUnits.mry
JoinCostFileMaker.weightsFile /mary/marytts-voice-building/mary/joinCostWeights.txt

# Properties for module CARTBuilder:
CARTBuilder.acFeatureFile /mary/marytts-voice-building/mary/halfphoneFeatures_ac.mry
CARTBuilder.callWagon false
CARTBuilder.cartFile /mary/marytts-voice-building/mary/cart.mry
CARTBuilder.featureSeqFile /mary/marytts-voice-building/mary/featureSequence.txt
CARTBuilder.maxLeafSize 10000000
CARTBuilder.mcepTimeline /mary/marytts-voice-building/mary/timeline_mcep.mry
CARTBuilder.numProcesses 1
CARTBuilder.readFeatureSequence true
CARTBuilder.topLevelTreeFile /mary/marytts-voice-building/mary/topLevel.tree
CARTBuilder.unitFile /mary/marytts-voice-building/mary/halfphoneUnits.mry

# Properties for module HMMVoiceDataPreparation:
HMMVoiceDataPreparation.adaptScripts false
HMMVoiceDataPreparation.userRawDirectory 
HMMVoiceDataPreparation.userUttDirectory 

# Properties for module HMMVoiceConfigure:
HMMVoiceConfigure.adaptF0Ranges 'bdl 40 210 clb 130 260 jmk 50 180 rms 40 200 slt 110 280'
HMMVoiceConfigure.adaptHead b05
HMMVoiceConfigure.adaptScripts false
HMMVoiceConfigure.adaptSpkr slt
HMMVoiceConfigure.adaptSpkrMask */cmu_us_arctic_%%%_*
HMMVoiceConfigure.adaptTrainSpkr 'bdl clb jmk rms'
HMMVoiceConfigure.adaptTransKind feat
HMMVoiceConfigure.adaptTreeKind dec
HMMVoiceConfigure.configureFile /mary/marytts-voice-building/hts/configure
HMMVoiceConfigure.dataSet cmu_us_arctic
HMMVoiceConfigure.fftLen 512
HMMVoiceConfigure.frameLen 400
HMMVoiceConfigure.frameShift 80
HMMVoiceConfigure.freqWarp 0.42
HMMVoiceConfigure.gamma 0
HMMVoiceConfigure.lf0BandWidth 1
HMMVoiceConfigure.lnGain 1
HMMVoiceConfigure.lowerF0 110
HMMVoiceConfigure.mgcBandWidth 35
HMMVoiceConfigure.mgcOrder 34
HMMVoiceConfigure.normalize 1
HMMVoiceConfigure.numIterations 5
HMMVoiceConfigure.numState 5
HMMVoiceConfigure.numTestFiles 5
HMMVoiceConfigure.questionsNum 001
HMMVoiceConfigure.sampfreq 16000
HMMVoiceConfigure.speaker slt
HMMVoiceConfigure.strBandWidth 5
HMMVoiceConfigure.strFilterFileName filters/mix_excitation_5filters_99taps_16Kz.txt
HMMVoiceConfigure.strOrder 5
HMMVoiceConfigure.upperF0 280
HMMVoiceConfigure.version 1
HMMVoiceConfigure.windowType 1

# Properties for module HMMVoiceFeatureSelection:
HMMVoiceFeatureSelection.featureFile /mary/marytts-voice-building/mary/features.txt
HMMVoiceFeatureSelection.hmmFeatureFile /mary/marytts-voice-building/mary/hmmFeatures.txt

# Properties for module HMMVoiceMakeData:
HMMVoiceMakeData.adaptScripts false
HMMVoiceMakeData.featureListFile mary/hmmFeatures.txt
HMMVoiceMakeData.featureListMapFile mary/hmmFeaturesMap.txt
HMMVoiceMakeData.makeCMPMARY 1
HMMVoiceMakeData.makeLABELMARY 1
HMMVoiceMakeData.makeLF0 1
HMMVoiceMakeData.makeLIST 1
HMMVoiceMakeData.makeMGC 1
HMMVoiceMakeData.makeQUESTIONSMARY 1
HMMVoiceMakeData.makeSCP 1
HMMVoiceMakeData.makeSTR 1
HMMVoiceMakeData.questionsFile hts/data/questions/questions_qst001.hed
HMMVoiceMakeData.questionsUttFile hts/data/questions/questions_utt_qst001.hed
HMMVoiceMakeData.trickyPhonesFile mary/trickyPhones.txt

# Properties for module VoiceCompiler:
VoiceCompiler.compileDir /mary/marytts-voice-building/mary/voice-poppy/
VoiceCompiler.mavenBin /usr/bin/mvn

# Properties for module HMMVoiceCompiler:
HMMVoiceCompiler.compileDir /mary/marytts-voice-building/mary/voice-poppy-hsmm/
HMMVoiceCompiler.mavenBin /usr/bin/mvn

